.sidebarContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-items: center;
  width: 250px;
}

.logo {
  max-height: 95px;
  margin-top: 50px;
  width: 100%;
}

.headersContainer {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Alegreya";
  margin-top: 30px;
  text-align-last: justify;
}
